tbody tr:nth-child(odd) {background-color: rgba(100,100,100,0.1);}
table, td, th {
    border:1px solid rgba(100,100,100,0.1);                
    padding: 5px;
    text-align: right;
    min-width: 150px;
}
    
tbody tr td:nth-child(1) { color: blue;}    
tr.down td:nth-child(4), tr.down td:nth-child(3) { color: red;}
tr.up td:nth-child(4), tr.up td:nth-child(3) { color: green;}
