/************************************************************** 
  Fonts 
***************************************************************/
@font-face {
	font-family: "Droid Sans";
	src: url("../font/DroidSans-webfont.woff");
}

@font-face {
	font-family: "Droid Sans bold";
	font-weight: bold;
	src: url("../font/DroidSans-Bold-webfont.woff");
}

/************************************************************** 
  Reset 
***************************************************************/

* {
	border: none;
	margin: 0;
	padding: 0;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	font: inherit;
}

li {
	list-style-type: none;
}

input, button {
	font: inherit;
}

/************************************************************** 
  jQuery UI Layout 
***************************************************************/

body .ui-layout-pane {
	background-color: transparent !important;
	border: none !important;
	padding: 0 !important;
}

body .ui-layout-resizer {
	background-color: rgba(128, 128, 128, .2);
	border-color: rgba(128, 128, 128, .4);
}

body .ui-layout-resizer-open-hover, body .ui-layout-resizer-dragging {
	background-color: rgba(128, 128, 128, .3);
}

body .ui-layout-toggler {
	border: none;
	background-color: rgba(128, 128, 128, .3);
}

body .ui-layout-toggler-hover {
	background-color: rgba(128, 128, 128, .4) !important;
}

/************************************************************** 
  Layout 
***************************************************************/

body {
	font: 12px/1.5 "Segoe UI", "Lucida Grande", "Droid Sans", sans-serif;
	-webkit-user-select: none;
}

th {
	background-color: rgba(128, 128, 128, .05);
	border-right: 1px solid rgba(128, 128, 128, .1);
	border-bottom: 1px solid rgba(128, 128, 128, .1);
	font-weight: normal;
	line-height: 23px;
	padding: 0 5px;
	text-align: left;
}

td {
	padding: 0 5px;
	vertical-align: top;
}

#toolbar {
	background-color: rgba(128, 128, 128, .1) !important;
	border-bottom: 1px solid rgba(128, 128, 128, .1) !important;
	height: 26px !important;
	padding: 2px !important;
}

#toolbar button {
	background: transparent no-repeat center;
	background-size: 16px;
	border: 1px solid transparent;
	border-radius: 2px;
	box-sizing: content-box;
	display: inline-block;
	height: 16px;
	padding: 4px;
	vertical-align: middle;
	width: 16px;
}

#toolbar button:hover {
	background-color: rgba(128, 128, 128, .1);
	border-color: rgba(128, 128, 128, .2);
}

#activity.busy {
 min-width: 50px;
 background-image:url('../img/loader.gif');
 background-repeat:no-repeat;
 background-position:center; 
 -background-size: contain;
 background-color: red;
}

#navigator {
	overflow-x: hidden;
}

ul.tabbar {
	background: linear-gradient(rgba(128, 128, 128, .05), rgba(128, 128, 128, .1));
	border-bottom: 1px solid rgba(128, 128, 128, .2);
}

ul.tabbar:empty {
	display: none;
}

.tabbar li {
	border-right: 1px solid rgba(128, 128, 128, .2) !important;
	cursor: default;
	display: inline-block;
	line-height: 23px;
	padding: 0 8px;
}

.tabbar li.active, .tabbar li:hover {
	background: #FFF;
} 

.tabbar li span {
	display: none;
}

.tabbar li.changed:before {
    content: "*";
}

.treeview li {
	background-position: 22px 1px;
	background-repeat: no-repeat;
	cursor: default;
	line-height: 18px;
	padding-left: 16px;
	position: relative;
}

.treeview li>span {
	display: inline-block;
	padding-left: 26px;
}

.treeview [class*="icon-"] {
	background-size: 16px;
}

.treeview .collapsed::before, .treeview .opened::before {
	background-repeat: no-repeat;
	background-size: 100%;
	content: "";
	display: block;
	height: 9px;
	left: 9px;
	position: absolute;
	top: 5px;
	width: 7px;
}

.treeview .collapsed::before {
	background-image: url("../img/treeview_collapsed.png");
}

.treeview .opened::before {
	background-image: url("../img/treeview_opened.png");
}

#editor { 
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 24px;
}

#statusbar {
	background-color: rgba(128, 128, 128, .1) !important;
	border-top: 1px solid rgba(128, 128, 128, .2) !important;
	line-height: 23px;
	text-align: right;
	text-transform: uppercase;
}

#statusbar ul {
	padding: 0 8px;
}

#statusbar li {
	display: inline-block;
}

#result>div {
	overflow: auto;
}

#result table {
	width: 100%;
}

#errorresults, #searchresults, #console {
	-webkit-user-select: text;
}

#errorresults thead, #searchresults thead {
	text-transform: capitalize;
}

#errorresults thead th:nth-child(2), #searchresults thead th:nth-child(2) {
	font-size: 0;
}

#errorresults th:nth-child(2):after, #searchresults th:nth-child(2):after {
    content: "File";
    font-size: 12px;
    vertical-align: middle;
}

#errorresults td:first-child, #searchresults td:first-child {
	background: url("../img/search_result.png") no-repeat left 1px;
	background-size: 16px;
	padding-left: 16px;
}

#errorresults td:first-child {
	background-image: url("../img/error_result.png");
}

.autocomplete {
	border: 1px solid rgba(128, 128, 128, .2);
    display: none;
    overflow: auto;
    padding: 2px;
    position: fixed;
    width: 400px;
    z-index: 1000;
}

.autocomplete .type {
    padding-left: 10px;
    visibility: hidden;
}

.autocomplete_selected {
   background-color: #A1B6C3;
}

.autocomplete_selected .type {
    visibility: visible;    
}

.autocomplete [class*=" icon-"] {
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 16px;
    padding-left: 20px;
}

.autocomplete .icon-method:after {
    content: "()";
}

/************************************************************** 
  Editor 
***************************************************************/

#editor button, #editor .ace_button {
	cursor: default;
}

#editor .ace_gutter-cell.ace_error {
	background-image: url("../img/error.png");
	background-size: 16px;
}

#editor .ace_search {	
	background-color: #FFF;
	border: none;
	border-radius: 0;
	font: 12px/1.5 "Segoe UI", "Lucida Grande", "Droid Sans", sans-serif;
	max-width: 310px;
	padding: 5px;
}

#editor .ace_search:before {
	background-color: rgba(128, 128, 128, .1);
	border: 1px solid rgba(128, 128, 128, .2);
	border-right: none;
	border-top: none;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

#editor .ace_search_form, #editor .ace_replace_form {
	border: none;
	border-radius: 0;
	outline: 0;
}

#editor .ace_search_field {
	border: 1px solid rgba(128, 128, 128, .2);
	height: 26px;
	margin-right: 5px;
	padding: 0 5px;
}

#editor .ace_searchbtn_close {
	background: transparent url("../img/close.png") no-repeat center;
	background-size: 16px;
	border-radius: 0;
	height: 26px;
	margin: 0;
	opacity: .7;
	width: 26px;
}

#editor .ace_searchbtn_close:hover {
	opacity: 1;
}

#editor .ace_search_field::-webkit-input-placeholder {
	text-indent: -9999px;
}

#editor .ace_search_form .ace_searchbtn {
	background-color: transparent;
	background-size: 16px;
	border: 1px solid transparent;
	border-radius: 2px;
	box-sizing: border-box;
	height: 26px;
	width: 26px;
}

#editor .ace_search_form .ace_searchbtn:hover {
	border-color: rgba(128, 128, 128, .2);
}

#editor .ace_searchbtn.prev {
	background-image: url("../img/arrow_up.png");
}

#editor .ace_searchbtn.next {
	background-image: url("../img/arrow_down.png");
}                                                            

#editor .ace_replacebtn {
	background-color: transparent;
	color: inherit;
	border: 1px solid rgba(128, 128, 128, .2);
	border-radius: 0;
	height: 26px;
}

#editor .ace_replacebtn:hover {
	background-color: rgba(128, 128, 128, .05);
}

#editor [action="replaceAndFindNext"] {
	margin-right: 5px;
	width: 58px;
}

#editor [action="replaceAll"] {
	width: 28px;
}

#editor .ace_search_options {
	display: inline-block;
	margin: 0;
	text-align: left;
}

#editor .ace_search_options .ace_button {
	background-color: transparent;
	border: none;
	color: inherit;
	display: inline-block;
	font-size: 0;
	margin: 0 10px 0 0;
	opacity: 1;
	padding: 0;
	white-space: nowrap;
}

#editor .ace_search_options .ace_button:before {
	background: #FFF no-repeat center;
	border: 1px solid rgba(128, 128, 128, .2);
	content: "";
	display: inline-block;
	height: 11px;
	margin-right: 2px;
	width: 11px;
}

#editor .ace_search_options .ace_button:hover:before {
	border-color: rgba(128, 128, 128, .4);
}

#editor .ace_search_options .checked:before {
	background-image: url("../img/checked.png");
	background-size: 11px;
}

#editor .ace_search_options .ace_button:after {
	display: inline-block;
	font-size: 12px;
	line-height: 13px;
	vertical-align: top;
}

#editor [action="toggleRegexpMode"]:after {
	content: "Regex";
}

#editor [action="toggleCaseSensitive"]:after {
	content: "Match Case";
}

#editor [action="toggleWholeWords"]:after {
	content: "Words";
}

/************************************************************** 
  Icons 
***************************************************************/

.icon-method, .icon-function, .icon-keyword {
	background-image: url("../img/method.png");
}

.icon-constructor {
	background: url("../img/constructor.png");
}

.icon-module {
	background-image: url("../img/module.png");
}

.icon-interface {
	background: url("../img/interface.png");
}

.icon-enum {
	background: url("../img/enum.png"); 
}

.icon-class {
	background-image: url("../img/class.png");
}

.icon-var {
	background-image: url("../img/variable.png");
}

.icon-property {
	background-image: url("../img/property.png");
}

.icon-file {
	background-image: url("../img/file.png");
}

.icon-folder {
	background-image: url("../img/folder.png");
}

[data-name$=".ts"].icon-file {
	background-image: url("../img/file_ts.png");
}

[data-name$=".js"].icon-file {
	background-image: url("../img/file_js.png");
}

[data-name$=".html"].icon-file, [data-name$=".htm"].icon-file {
	background-image: url("../img/file_html.png");
}

[data-name$=".xml"].icon-file {
	background-image: url("../img/file_xml.png");
}

[data-name$=".json"].icon-file {
	background-image: url("../img/file_json.png");
}

[data-name$=".yml"].icon-file, [data-name$=".yaml"].icon-file {
	background-image: url("../img/file_yaml.png");
}

[data-name$=".txt"].icon-file {
	background-image: url("../img/file_txt.png");
}

[data-name="readme"].icon-file, [data-name^="readme."].icon-file {
	background-image: url("../img/file_readme.png");
}

/******************** SCROLLBARS ********************/

.ace_scrollbar {
	width: 12px !important;
	z-index: 999;
}

.ace_scrollbar-h {
	height: 12px !important;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
	background-color: rgba(128, 128, 128, .1);
}
 
::-webkit-scrollbar-thumb {
	background-color: rgba(128, 128, 128, .2);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(128, 128, 128, .4);
}