/************************************************************** 
  Lets make the scrollbars look a little nicer
***************************************************************/

::-webkit-scrollbar {
  background-color: rgba(120,120,120,0.3);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(120,120,120,0.5);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(90,90,90,0.5);
  width: 10px;
  height: 10px;
}

/************************************************************** 
  Simple file tree styling
***************************************************************/


#filetree, #outlinenav {
    overflow: auto;    
}

#navigator .treeview {
  padding: 4px;
  padding-left: 10px;
}

.treeview ul {
  list-style: none;
  padding-left: 3em;
  margin-left: -3em;
  margin-top: 0;
}

.treeview li {
    line-height: 1.5em;
    cursor: pointer;
    padding-left: 1.3em;
}

.treeview li span:hover{
    background-color: rgba(120,120,120,0.4);
}

.treeview li.collapsed:before {
  content: "+";
  margin-left: -2em;
  padding-right: 1.5em;
  font-family: monospace; 
}

.treeview li.opened:before {
  content: "-";
  margin-left: -2em;
  padding-right: 1.5em;
  font-family: monospace;  
}


/***************************************************************
   Style for layout
****************************************************************/

table {
  font-size: inherit;
}

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;    
  background-color: rgba(100, 100, 100, 0.3);
  font-size: 14px;
  
  /* CSS rule to disable text selection highlighting on editor window */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body #center {
  background-color: transparent;
  border: 0px;
}

#sessionbar, #navigationbar, #resultbar, #infobar {
  background-color: rgba(100,100,100,0.2);
  height: 25px;
}

#statusbar, #toolbar {
  background-color: transparent;
  border: 0px;
  min-height: 25px;
  max-height: 25px;
}

#statusbar > ul {
   margin: 0px;
   float: right;
   list-style: none;
}

#statusbar li {
float: left;
   margin-right: 10px;
   border-left-style: groove;
   height: 90%;
   padding-left: 5px;
}


#toolbar button {
    width: 30px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
    border-width: 1px;
    height: 23px;
    background-color: rgba(230,230,230,0.4);
    margin-right: 2px;
    margin-top: 2px;
}

body .ui-layout-pane {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: white;
  border-radius: 5px;
}


/***************************************************************
      result tables 
****************************************************************/

#result table {
  border-collapse:collapse;
  width: 100%;
  text-align: left;
}


#result thead {
   font-size: 1.1em;
   line-height: 1.0em;
}

#result td, #result th {
     padding: 2px;   
}

#result tbody tr:nth-child(odd) {
  background-color: rgba(100,100,100,0.1);
}

#result table, #result td, #result th
{
  border:1px solid rgba(100,100,100,0.1);
  border-top: 0px;
}



.busy {
  min-width: 50px;
  background-image:url('../img/loader.gif');
  background-repeat:no-repeat;
  background-position:center; 
  background-size: contain;
}

#result table tbody tr:hover {
  background-color: rgba(120,120,120,0.4);
  cursor: pointer;
}

/************************************************************** 
  Overwrite default layout settings
***************************************************************/

body .ui-layout-pane {
  padding: 0px;
}


body .ui-layout-resizer  { /* all 'resizer-bars' */
  background:   transparent;
  border:     0px solid #BBB;
  border-width: 0;
}

body .ui-layout-toggler {
  background:   transparent;
  border:     0px ;
}

#navigator, #info, #result {
  overflow: hidden;
}

#searchresults, #errorresults, #console {
  overflow: auto;
  height: 100%;
}

/************************************************************* 
 Some very basic default settings for the ACE editor 
**************************************************************/

#editor { 
        position: absolute;
        top: 25px; /* Make room for tabs */
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 16px;
}


/***********************************************************
Tab section
************************************************************/

 .tabbar ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
  height: 100%;
}

.tabbar li.changed:before {
  content: "*";
}

.tabbar select {
  position: absolute;
  top: 0;
  right: 2px;
  width: 20px;
  border-top-right-radius: 5px;
}

.tabbar li {
  float: left;
  font-size: 90%;
  height: 25px;
  box-sizing: border-box;
  padding: 2px 5px 2px 2px;
  margin-right: 5px;  
  cursor: pointer;
}


.tabbar li.active, .tabbar li:hover {
  border: 1px solid rgba(100,100,100,0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0px;
  /* background-color: rgba(250, 250, 250, 0.5); */
  background-color: #ffffff;
  text-decoration:none;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: 4px;
}

.tabbar li.active {
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 1px 3px;
  background-image: url("../img/main_tab.gif");
}

.tabbar [class*=" icon-"] {
/* #navigationbar li, #infobar li, #resultbar li { */
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 1px 3px;
}

.tabbar li.icon-tasks {
  background-image: url("../img/tasks_tsk.gif");
}

.tabbar li.icon-errors {
  background-image: url("../img/errorwarning_tab.gif");
}

.tabbar li.icon-search {
  background-image: url("../img/search_ref_obj.gif");
}

.tabbar li.icon-console {
  background-image: url("../img/console_view.gif");
}


.tabbar li.icon-files {
  background-image: url("../img/filenav_nav.gif");
}

.tabbar li.icon-outline {
  background-image: url("../img/outline_co.gif");
}

.tabbar li span {    float: right;
    display: block;
    font-size: 70%;
    padding-left: 5px;
    vertical-align: top;
    font-weight: bold;
    height: 100%;
    visibility: hidden;
}

.tabbar li:hover span, .tabbar li.active span {
    visibility: visible;
}

/*********************************************************
Auto complete styling
***********************************************************/    
.autocomplete{
    height:200px;
    overflow:hidden;
    border:1px solid #ccc;
    font-size: 90%;
    position: fixed;
    z-index: 1000;
    padding: 3px;
    display: none;
    background: white;
    -webkit-box-shadow: 5px 5px 5px #888;
}

.autocomplete ul{
    width:400px;
    margin:0px;
    padding:0px;
}

.autocomplete li{
    padding:1px;
    line-height:18px;
    height:18px;
    overflow:hidden;
    list-style: none;
}

.autocomplete [class*=" icon-"]  {
    padding-left: 20px;
}

.autocomplete .icon-method:after{
    content: "()";
}

.autocomplete .type {
    padding-left:10px;
    color:blue;
    visibility:hidden;
}

.autocomplete_selected {
   background-color: #eee;
   color: #222;
}

.autocomplete_selected .name {
    font-weight:bold;
}

.autocomplete_selected .type {
    visibility:visible;    
}    


/***********************************************************************
  Icons
************************************************************************/

.icon-method, .icon-function, .icon-keyword {
    background: url('../img/methpub_obj.gif') no-repeat; 
}

.icon-constructor {
  background: url('../img/constr_ovr.gif') no-repeat;
}

.icon-module{
    background: url('../img/package_obj.gif') no-repeat; 
}

.icon-interface{
    background: url('../img/int_obj.gif') no-repeat; 
}

.icon-enum{
    background: url('../img/enum_obj.gif') no-repeat; 
}

.icon-class{
    background: url('../img/class_obj.gif') no-repeat; 
}

.icon-variable {
  background: url('../img/genericvariable_obj.gif') no-repeat; 
}

.icon-property {
    background: url('../img/property_obj.gif') no-repeat; 
}

.icon-file {
    background: url('../img/file_obj.gif') no-repeat; 
}

.icon-folder {
    background: url('../img/fldr_obj.gif') no-repeat; 
}

/*******************************************************************        
  Find Area styling
********************************************************************/

#findArea, #replaceArea {
  display: none;
}

#findArea span, #replaceArea span {
  width: 100px;
  float: left;
}

#findArea button, #replaceArea button {
  width: 100px;
}
