
#logo {
  width:50px;
  height:50px;
  float: left;
}

/* Overwrite default layout settings*/
body .ui-layout-pane {
  background: inherit;
  color: inherit;
  padding: 5px;
}



#editorPane {
	padding: 0px;
}


h3 span {
	color: blue;
}


/* Default settings ACE editor */
#editor { 
        position: absolute;
        top: 30px; /* Make room for tabs */
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 16px;
}


.tabs {
  padding: 5px;
  margin: 5px;
  list-style: none;
}


.tabs li {
  float: left;
  width: 80px;
  font-size: 10px;

}

/*********************************************************
Auto complete styling
***********************************************************/    
.autocomplete{
    height:226px;
    overflow:hidden;
    border:1px solid #ccc;
    font-size: 90%;
    position: fixed;
    z-index: 1000;
    display: none;
}

.autocomplete ul{
    width:400px;
    margin:0px;
    padding:2px;
}

.autocomplete li:hover{

}

.autocomplete li{
    padding:1px;
    line-height:1.2em;
    height:1.2em;
    overflow:hidden;
    list-style: none;
}

.autocomplete .name {
    padding-left: 20px;
}

.autocomplete .kind-method{
    background: url('../img/type_method.png') no-repeat; 
}

.autocomplete .kind-method:after{
    content: "()";
}

.autocomplete .kind-interface{
    background: url('../img/type_interface.png') no-repeat; 
}

.autocomplete .kind-enum{
    background: url('../img/type_enum.png') no-repeat; 
}


.autocomplete .kind-class{
    background: url('../img/type_class.png') no-repeat; 
}

.autocomplete .kind-variable {
  background: url('../img/type_var.png') no-repeat; 
}

 .autocomplete .kind-property {
    background: url('../img/type_prop.png') no-repeat; 
}

.autocomplete .kind-keyword {
    background: url('../img/type_keyword.png') no-repeat; 
}

.autocomplete  .type{
    padding-left:10px;
    color:blue;
    background: white;
    visibility:hidden;
}


.autocomplete_selected{
   background-color: #eee;
   color: #222;
}

.autocomplete_selected .name{
    font-weight:bold;
}

.autocomplete_selected .type{
    visibility:visible;    
}    

/*        

*/

#findArea, #replaceArea {
  display: none;
}

#findArea span, #replaceArea span {
  width: 100px;
  float: left;
}

#findArea button, #replaceArea button {
  width: 100px;
}


/*********************** Filetree *******************************/
#fileTree > div {
  border-bottom: 1px dotted;
  padding-bottom: 5px;
  margin-bottom: 5px;
}